@model BoilerPlateExample.Dto.Employee.EmployeePost

@{
    ViewBag.Title = "Create new employee";
    var list = ViewBag.DropDown as SelectList;
}

<h3>@ViewBag.Title</h3>

<form action="" method="post">

    @Html.HiddenFor(x => x.Id)
    <br />
    @Html.LabelFor(x => x.FirstName, "First name:")
    &nbsp;
    @Html.EditorFor(x => x.FirstName)
    <br />
    @Html.LabelFor(x => x.LastName, "Last name:")
    &nbsp;
    @Html.EditorFor(x => x.LastName)
    <br />
    @Html.LabelFor(x => x.OfficeId, "Office:")
    &nbsp;
    @Html.DropDownListFor(x => x.OfficeId, list, "-- Choose Office --")
    <br />

    <input type="submit" value="Create Employee" />

</form>