@model BoilerPlateExample.Dto.Employee.EmployeeListDto

@{
    ViewBag.Title = "List Of Employees";
}

<h3>@ViewBag.Title</h3>

@foreach (var employee in Model.Employees)
{
<div>
    @employee.FirstName @employee.LastName
    <br />
    @employee.Description
    <br />
    @Html.ActionLink("Update", "UpdateEmployee", new { id = employee.Id })
    &nbsp;
    @Html.ActionLink("Details", "GetEmployee", new { id = employee.Id })
    <br />
    @using (Html.BeginForm("DeleteEmployee", "Employee", new { id = employee.Id }))
    {<button type="submit" name="Delete" onclick="return confirm('Are you sure you want to delete this employee?')" value="Delete">Delete</button>}
</div>
}

<br/>
<h4>
    @Html.ActionLink("Add New", "CreateEmployee")
</h4>
