@model BoilerPlateExample.Dto.Employee.EmployeePost
@{
    ViewBag.Title = "Change Employee Details";
    //SelectList list = (SelectList) ViewData["DropDown"];
    var list = ViewBag.DropDown as SelectList;
}

<h3>@ViewBag.Title</h3>

<form action="" method="post">
        
    
        @*<input type="text" name="Id" hidden="hidden" placeholder="Id" value="@Url.ActionContext.RouteData.Values["id"]"  />*@
        @Html.HiddenFor(x => x.Id)
        <br />
        @Html.LabelFor(x => x.FirstName, "First name:")
        &nbsp;
        @Html.EditorFor(x => x.FirstName)
        <br />
        @Html.LabelFor(x => x.LastName, "Last name:")
        &nbsp;
        @Html.EditorFor(x => x.LastName)
        <br />
        @Html.LabelFor(x => x.OfficeId, "Office:")
        &nbsp;
        @*<input type="text" name="OfficeId" placeholder="Id" value="@Model.OfficeId" />*@
        @Html.DropDownListFor(x => x.OfficeId, list, "-- Choose Office --")


        <input type="submit" value="Update Employee" />
    </form>



