@model BoilerPlateExample.Dto.OfficeListDto

@{
    ViewBag.Title = "List of offices";
}

<h3>@ViewBag.Title</h3>

@foreach (var office in Model.Offices)
{
    <div>
        @office.Id
        <br />
        @office.Description
        <br />
        @*@using (Html.BeginForm("UpdateOffice", "Office", new { id = office.Id })) {<button type="submit" name="Update" onclick=</button>}*@
        @Html.ActionLink("Update", "UpdateOffice", new { id = office.Id })
        &nbsp;
        @Html.ActionLink("Details", "GetOffice", new { id = office.Id })
        <br/>
        @using (Html.BeginForm("DeleteOffice", "Office", new { id = office.Id }))
        {<button type="submit" name="Delete" onclick="return confirm('Are you sure you want to delete this office?')" value="Delete">Delete</button>}
        <br />
    </div>
}

<h4>
    @Html.ActionLink("Add New", "CreateOffice")
</h4>


