@model BoilerPlateExample.Dto.Office.OfficeEmployeeListDto

@{
    ViewBag.Title = "Office Details";
}

<h3>@ViewBag.Title</h3>

@if (Model != null)
{
<h4>@Model.Description</h4>
    <br />
    foreach (var employee in @Model.Employees)
    {
    <p>
        @employee.FirstName&nbsp;@employee.LastName
    </p>
        <br />
    }

}
else
{
    <form action="" method="get">

        @Html.LabelFor(x => x.Id)
        &nbsp;
        @Html.TextBoxFor(x => x.Id)
        <br />
        <input type="submit" value="Get Office" />

    </form>
}